

.banner-ketquathi {
    background: linear-gradient(180deg, #E0ECFF 25.5%, #FFF 100%);
}

.btn-o-thi-primary {
    height: 48px;
    border: 1.5px solid #0056D2;
    border-radius: 12px;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 600;
    color: #0056D2;
    cursor: pointer;
}
.btn-thi-primary {
    height: 48px;
    background-color: #0056D2;
    border: 1.5px solid #0056D2;
    border-radius: 12px;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.modal-kqt {
    .ant-modal-title {
        font-size: 24px;
        font-weight: 600;
    }
}
