@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input{
  height: 48px;
}

.ant-input {
  height: 24px;
  line-height: 24px; /* Ensure text is vertically centered */
}

.ant-input-affix-wrapper{
  border-radius: 8px;
}

.boxShadowCustom {
  box-shadow: 0px 2px 6px 0px rgba(20, 20, 21, 0.14);
}

.ant-pagination-item-active {
  background: #0D509F !important;
  border-color: #0D509F !important;
}
.ant-pagination-item-active a {
  color: #fff !important;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
      max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
      max-width: 1024px;
  }
}


@media (min-width: 1280px) {
  .container {
    width: 1280px;
      max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    width: 1440px;
      max-width: 1440px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}